<main>
	<h1>Bonjour chers jeunes démons</h1>
  
	<div *ngIf="!isLoggedIn">
	  <h2>Page de connexion au paradis</h2>
	  <form (ngSubmit)="login()">
		<div class="form-group">
		  <label for="login">Nom d'utilisateur: </label>
		  <input type="text" id="login" name="login" [(ngModel)]="loginForm.login" required>
		</div>
		<div class="form-group">
		  <label for="password">Mot de passe: </label>
		  <input type="password" id="password" name="password" [(ngModel)]="loginForm.password" required>
		</div>
		<button type="submit">Connexion au compte</button>
	  </form>
	</div>
  

	<div *ngIf="isLoggedIn">
		<app-catalog></app-catalog>
		<!--<h2>Chercher des produits par nom ou par catégorie</h2>-->
		<app-product-search [products]="productsAll"></app-product-search>
		<hr>
		<h2>Contenu du panier</h2>
		<app-cart></app-cart>
	</div>
  </main>
